<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <%- include('./bootstrapcdn'); %>
</head>
<body>
    <form action="/blog/add-new" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="exampleInputTitle1" class="form-label">Title</label>
          <input type="text" class="form-control" id="exampleInputTitle" aria-describedby="TitleHelp" name="title">
        </div>
        <div class="mb-3">
            <label for="exampleInputBody" >Body</label>
        </div>
        <div>
            <textarea id="exampleInputBody" name="body"  placeholder="Type your body here..."></textarea>
        </div>
        <div class="mb-3 form-">
            <div>
                <div>
                    <label for="exampleInputfile" class="form-label">File</label>
                </div>
                <input type="file"  name="coverimageUri"/>
            </div>
        </div>
        
        <div class="file-input-container">
            
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
   
</body>
</html>